/* main */

/* Imagem e titulo principal */

.imagem-texto{
    position: relative;

}
.imagem-texto img{
    width: 100%;
    height: 270px;
    filter: brightness(50%);
    
}

.doce-encanto{
   position: absolute;
   top: 30%;
   left: 34%;
   transition: translate(-50%,-50%);
   background-color: rgba(250, 248, 248, 0);
   padding: 10px;
   color:#F2F2F2;
   font-size: 32px;

   

}

.confeitaria{
    position: absolute;
    top: 55%;
    left: 41%;
    transition: translate(-50%,-50%);
    text-align: center;
    background-color: rgba(250, 248, 248, 0);
    padding: 10px;
    color: #F2F2F2;
    font-size: 55px;
    font-family:"Tangerine", cursive;;
}


/* Introdução da empresa */
div.apresentacao-frase-texto{
    text-align: center;
    padding-bottom:20px;
    
}

h2#frase{
    color: #3E271F;
    margin-top: 5%;
}

section.apresentacao{
    float:left;
    width: 50%;
    gap: 25%;
}

section.apresentacao-item-todos {
    padding: 10px;
    margin-top:13%;
    justify-items:  center;
}





/* telefone */
div#apresentacao-item-telefone{
    background-color: #8C593B;
    color: black;
    border-radius: 20px;
    padding: 10px;
    width: 200px;
    font-size: 20px;
    
}


/* deixando um do lado do outro */
div#apresentacao-item{
    display: flex;
    gap:30px;
}


/* instagram/whatshapp/facebook */
div.apresentacao-item-inf i{
    color: black;
    background-color: #8C593B;
    width: 40px;
    /* height: 30px; */
    border-radius: 10px;
    text-align: center;
    padding: 4px;
    font-size: 30px;
}

@media screen and (max-width:820px){
    .doce-encanto{
        position: absolute;
        top: 30%;
        left:29%;
        transition: translate(-50%,-50%);
        background-color: rgba(250, 248, 248, 0);
        padding: 10px;
        color:#F2F2F2;
        font-size: 32px;




     
        
     
     }
     
     .confeitaria{
         position: absolute;
         top: 55%;
         left: 39%;
         transition: translate(-50%,-50%);
         text-align: center;
         background-color: rgba(250, 248, 248, 0);
         padding: 10px;
         color: #F2F2F2;
         font-size: 55px;
         font-family:"Tangerine", cursive;
     }
     
     
     /* Introdução da empresa */
     div.apresentacao-frase-texto{
         text-align: center;
         padding-bottom:20px;
         
     }
     
     h2#frase{
         color: #3E271F;
         margin-top: 5%;
     }
     
     section.apresentacao{
         width: 50%;
         flex-wrap: wrap;
         justify-content: center;
         width: 100%;
     }
     
     section.apresentacao-item-todos {
         padding: 10px;
         margin-top:5%;
         justify-items:  center;
     }
     
     
     
     
     
     /* telefone */
     div#apresentacao-item-telefone{
         background-color: #8C593B;
         color: black;
         border-radius: 20px;
         padding: 10px;
         width: 200px;
         font-size: 20px;
         
     }
     
     
     /* deixando um do lado do outro */
     div#apresentacao-item{
         display: flex;
         gap:30px;
     }
     
     
     /* instagram/whatshapp/facebook */
     div.apresentacao-item-inf i{
         color: black;
         background-color: #8C593B;
         width: 40px;
         /* height: 30px; */
         border-radius: 10px;
         text-align: center;
         padding: 4px;
         font-size: 30px;
     }
}




@media screen and (max-width:582px){
    .doce-encanto{
        position: absolute;
        top: 33%;
        left: 22%;
        transition: translate(-50%,-50%);
        background-color: rgba(250, 248, 248, 0);
        padding: 10px;
        color:#F2F2F2;
        font-size: 19px;
        
     
     }
     
     .confeitaria{
         position: absolute;
         top: 49%;
         left: 31%;
         transition: translate(-50%,-50%);
         background-color: rgba(250, 248, 248, 0);
         padding: 10px;
         color: #F2F2F2;
         font-size:50px;
         font-family:"Tangerine", cursive;;
         justify-content: center;
         text-align: center;
     }
     
     
     /* Introdução da empresa */
     div.apresentacao-frase-texto{
         text-align: center;
         padding-bottom:20px;
         
     }
     
     h2#frase{
         color: #3E271F;
         margin-top: 5%;
     }
     
     section.apresentacao{
         float:left;
         width: 50%;
         justify-content: center;
         width: 100%;
         
     }
     
     section.apresentacao-item-todos {
         padding: 10px;
         margin-top:13%;
         justify-items:  center;
     }
     
     
     
     
     
     /* telefone */
     div#apresentacao-item-telefone{
         background-color: #8C593B;
         color: black;
         border-radius: 20px;
         padding: 10px;
         width: 200px;
         font-size: 20px;
         
     }
     
     
     /* deixando um do lado do outro */
     div#apresentacao-item{
         display: flex;
         gap:30px;
     }
     
     
     /* instagram/whatshapp/facebook */
     div.apresentacao-item-inf i{
         color: black;
         background-color: #8C593B;
         width: 40px;
         /* height: 30px; */
         border-radius: 10px;
         text-align: center;
         padding: 4px;
         font-size: 30px;
     }
}